server:
  port: 8092

logging:
  level:
    org.springframework.security: trace

spring:
  thymeleaf:
    cache: false
  application:
    name: service-auth-login
  security:
    oauth2:
      client:
        registration:
          login-client:
            provider: spring
            client-id: messaging-client
            client-secret: secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: authorization_code
            redirect-uri: http://127.0.0.1:8092/login/oauth2/code/login-client
            scope: openid,message:read
            client-name: Spring
        provider:
          spring:
            authorization-uri: http://localhost:9000/oauth2/authorize
            token-uri: http://localhost:9000/oauth2/token
            jwk-set-uri: http://localhost:9000/oauth2/jwks
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
