server:
  port: 8092

logging:
  level:
    org.springframework.security: trace

spring:
  application:
    name: service_auth

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
